:root {
    --fallback-title-bar-height: 40px;
    --fallback-title-bar-width: 0;
}
body {
    padding: 0;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
}

html.dark {
    body {
        background-color: #141414;
        color: rgba(255, 255, 255, 0.85);
    }

}

html.light {
    body {
        background: rgba(255, 255, 255, 0.85);
    }

}

